absl-py==0.9.0
appdirs==1.4.3
astor==0.8.1
astroid==2.3.3
certifi==2020.4.5.1
chardet==3.0.4
colorama==0.4.3
distlib==0.3.0
docopt==0.6.2
filelock==3.0.12
gast==0.3.3
glob2==0.7
google-pasta==0.1.8
grpcio==1.27.2
h5py==2.10.0
idna==2.9
importlib-metadata==1.5.0
isort==4.3.21
joblib==0.14.1
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
lazy-object-proxy==1.4.3
Markdown==3.2.1
mccabe==0.6.1
numpy==1.18.1
opencv-python==4.2.0.32
pandas==1.0.1
Pillow==7.0.0
protobuf==3.11.3
pylint==2.4.4
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3
requests==2.23.0
scikit-learn==0.22.2
scipy==1.4.1
six==1.14.0
tensorboard==1.14.0
tensorflow-estimator==1.14.0
tensorflow-gpu==2.5.3
termcolor==1.1.0
typed-ast==1.4.1
urllib3==1.25.8
virtualenv==20.0.7
Werkzeug==1.0.0
wrapt==1.12.0
yarg==0.1.9
zipp==3.0.0